body {  }
pre { background: #efefef; padding: 0.4em; border: dotted 1px #ddd; }

#docs { display: table; width: 90%; margin: 2em auto; }
	#content { display: table-cell; padding: 1em; }

#docs div.menu { display: table-cell; width: 14em !important; padding: 1em; }
	#docs div.menu ol,
	#docs div.menu ul { margin: 0; padding: 0; list-style: none; }
		#docs div.menu ol ul { margin-left: 1em; }
	#docs div.menu li { margin: 0; padding: 0; }
		#docs div.menu li span.title { font-size: 1.2em; }

#content h1 { margin-top: 0; }
#content pre { font-size: 1em; line-height: 1.4em; }