.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { zoom: 1; }

html {
/*	background:url(bg.png) repeat top center;*/
}
/*
 Line height = 21px;
*/
body {
	color:#555;
	font:14px/1.5 Helvetica,Arial;
}

p, ul, ol {
	margin:1.5em 0;
}

small {
	font-size:0.9em;
}

.note {
	background:#eee url('../img/lightbulb_48.png') no-repeat 1em center;
	padding:1.5em 1.5em 1.5em 4.5em;
	border-radius:10px;
	overflow:auto;
}

ul, ol {
	margin-left:1.5em
}

ul ul, ul ol, ol ol, ol ul {
	margin-top:0;
	margin-bottom:0;
}

dl {
	
}

dt {
	font-weight:bold;
	margin-top:1.5em;
}

dd {
	margin-left:1.5em;
}

a {
	color:#3E7B9A;
	text-decoration:none;
}

a:hover {
	color:#3e7c9c;
	text-decoration:underline;
}

a[href^="http:"] {
	padding-right:14px;
	background:transparent url('../img/ext_link.png') center right no-repeat;
}

a[href^="http://192.168"] { background:none; padding:0; margin:0; }

code {
	color:#6BAA3D;
	font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
}

pre {
	background:#eee;
	border-radius:10px;
	padding:1.5em;
	font-size:0.9em;
	margin-top:1.5em;
	margin-bottom:1.5em;
	overflow:auto;
}

.highlighted div.line {
	font-size:1em;
	line-height:1.3 !important;
}

table {
	background:#eee;
	border-left: 1px solid #CCC;
	border-top: 1px solid #CCC;
	margin-bottom:1.5em;
}

table td, table th {
	padding:0.4em 0.8em;
	line-height:1.4286;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

table th {
	background: #ddd;
}

table tr:nth-child(even) {
	background: #fff;
}

h1 {
	font-size:2.2em;   /* 14 * 2.2 = 30.8 */
	line-height:0.681;  
	margin:0.681em 0;
}

h2 {
	font-size:1.7em; 
	line-height:0.882;
	margin:0.882em 0;
}

h3 {
	font-size:1.3em;
	line-height:1.17;
	margin:1.17em 0;
}

h4 {
	margin:1.5em 0;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small { font-size: 0.8em; font-weight: normal; color: #444; }

h1 small { font-size: 0.6em; }

h1 a.permalink,
h2 a.permalink,
h3 a.permalink,
h4 a.permalink,
h5 a.permalink,
h6 a.permalink {
	font-size:12px;
	margin-left:1em;
	font-weight:normal;
	display:none;
}

h1:hover a.permalink,
h2:hover a.permalink,
h3:hover a.permalink,
h4:hover a.permalink,
h5:hover a.permalink,
h6:hover a.permalink {
	display:inline;
}

#kodoc-main img {
	padding:1em;
	outline:1px solid #999;
	max-width:772px;
}


/* layout stuff */

#kodoc-header {
	background:#85da4c url('../img/header.png') bottom left repeat-x scroll;
	padding:20px 20px 0;
}

#kodoc-nav {
	background:url('../img/breadcrumbs.png') top left repeat-x scroll;
	padding:10px 20px;
}

#kodoc-nav .container {
	margin:0 auto;
}

#kodoc-nav ul {
	float:left;
	margin:0;
}

#kodoc-nav li {
	display:inline-block;
	margin-right:.6em;
	float:left;
}

#kodoc-nav a {
	font-weight:bold;
}

#kodoc-nav li:not(:first-child):before {
	content:'» ';
	padding-right:.3em;
}

#kodoc-footer {
	margin:0 auto;
	padding:0 20px;
	width:1060px;
	margin-bottom:20px;
}

#kodoc-footer p {
	margin:0;
	padding:1.5em 30px;
	background:#eee;
	border-radius:10px;
	text-align:right;
}

#kodoc-body {
	padding:0 20px;
}

.container {
	width:1060px;
	margin:20px auto;
}

#kodoc-main {
	float:right;
	width:820px;
	/* background:transparent url('../img/lines.png') top left repeat scroll; */
}

#kodoc-menu {
	border-right:2px solid #eee;
	float:left;
	margin:0 20px 0 0;
	padding:0 20px 0 0;
	width:198px;
}
	#kodoc-menu ul , #kodoc-menu ol{ list-style-type:none; margin: 0; padding: 0;}
		#kodoc-menu ul li, #kodoc-menu ol li { margin:0; padding: 0; background:url('../img/arrows.png') -80px -1px no-repeat scroll; padding-left:12px; position:relative; }
		#kodoc-menu ul li.toggle-close, #kodoc-menu ol li.toggle-close{ background-position: -22px -22px; }
		#kodoc-menu ul li.toggle-open, #kodoc-menu ol li.toggle-open { background-position: -2px -42px; }
		#kodoc-menu ul li a.menu-toggle, #kodoc-menu ol li a.menu-toggle { width:14px; height:18px; position:absolute; left:0px; text-decoration:none; cursor:pointer;}
		#kodoc-menu ul li a.current, #kodoc-menu ol li a.current {font-weight:bold;}
		
	#kodoc-menu li span { cursor:pointer; }

#kodoc-header .container {
	margin:0 auto 0;
	position:relative;
	padding:0 0 20px 0;
}

#kodoc-tabs {
	position:absolute;
	bottom:0;
	right:0;
}

#kodoc-tabs a {
	background:#f3b812 url('../img/orange-tab.png') bottom left repeat-x scroll;
	border:2px solid #fff;
	border-bottom:none;
	color:#fff;
	padding:2px 15px;
	border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	display:block;
	float:left;
	margin-right:10px;
}

#kodoc-tabs a:hover {
	background:#f3b812 url('../img/orange-tab.png') 10px left repeat-x scroll;
}

#kodoc-tabs a.current {
	background:#fff;
	color:	#555555;
	font-weight:bold;
}


#kodoc-page-toc {
	float:right;
	border:1px solid #CCC;
	background:#EEE;
	padding:0.5em;
	margin-top:1em;
	margin-left:1.5em;
	border-radius:10px;
}

	.kodoc-toc-header {
		font-weight:bold;
		margin:0;padding:0;
	}

#kodoc-page-toc.closed { }
	#kodoc-page-toc.closed .kodoc-toc-header { }

#kodoc-page-toc.open { }
	#kodoc-page-toc.open .kodoc-toc-header { margin-bottom:1.5em; }

/* Api browser stuff */

/* api index page */
#kodoc-main div.class-list div.class { width: 50%; }
#kodoc-main div.class-list div.class.left { float: left; clear: both; }
#kodoc-main div.class-list div.class.right { float: right; }
	#kodoc-main div.class-list div.class h2 { background:none; }

/* table of contents at the top of each class */
#kodoc-main div.toc { }
#kodoc-main div.toc div {float:left; width: 33%;}
#kodoc-main div.toc div h3 {margin-top:0; background:none; }


/* constants */
#kodoc-main div.constants dl dt {font-weight:bold; margin-bottom:1.5em;}
#kodoc-main div.constants dl dd {margin-left:1.5em; margin-bottom:1.5em;}

/* properties */
#kodoc-main div.properties dl dt { font-weight:bold; margin-top:1.5em; margin-bottom:1.5em;}
#kodoc-main div.properties dl dt small, div.properties dl dt code { font-weight:normal; font-size:0.9em; }
#kodoc-main div.properties dl dd {margin-left:1.5em; margin-bottom:1.5em;}

/* functions */

#kodoc-main div.method { padding:0 1.5em; border:1px solid #aaa; border-radius:5px; margin-bottom:1.5em; }
#kodoc-main div.method h3 { background:none; margin-top:0; margin-left:-1.17em; margin-right:-1.17em; padding:.75em 0 .75em 1.17em; background:#eee; border-top-left-radius:5px; border-top-right-radius:5px; }
#kodoc-main div.method h3 .param { font-weight: normal; cursor: help; border-bottom:1px dashed #666;}
#kodoc-main div.method h3 abbr.param { text-transform: none; font-size: 1em; }

#kodoc-main dl.tags { overflow: auto; background: #eee; padding: 1em; border: solid 6px #ddd; margin-bottom:1.5em; }
	#kodoc-main dl.tags dt { margin: 0; clear: both; float: left; width: 25%; }
	#kodoc-main dl.tags dd { margin: 0; padding: 0; clear: right; float: right; }
	
.sourcecode-toggle {
	margin-left:.3em;
	cursor:pointer;
}
