@import url('api.css');

html { background: #00262f; font-size: 70%; }
body { margin: 0; }
ol ol, ol ul, ul ul, ul ol { margin-bottom: 0; }
a img { border: 0; }

h1 small,
h2 small,
h3 small,
h4 small { font-weight: normal; font-size: 0.7em; }
h5 small,
h6 small { font-weight: normal; font-size: 0.8em; }

dl dd { margin-left: 0; }

code {
	color:#6BAA3D;
	font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
}

pre {
	background:#f3f3f3;
	border-radius:10px;
	padding:1.5em;
	font-size:0.9em;
	margin-top:1.5em;
	margin-bottom:1.5em;
	overflow:auto;
}

.highlighted div.line {
	font-size:1em;
	line-height:1.3 !important;
}

table {
	background:#eee;
	border-left: 1px solid #CCC;
	border-top: 1px solid #CCC;
	margin-bottom:1.5em;
	width: 100%;
}

table td, table th {
	padding:0.4em 0.8em;
	line-height:1.4286;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

table th {
	background: #ddd;
}

table tr:nth-child(even) {
	background: #fff;
}

.caps { text-transform: uppercase; font-size: 0.8em; font-weight: normal; }
.status { text-transform: lowercase; font-variant: small-caps; font-weight: bold; color: #911; }
.container .colborder { border-color: #d3d8bc; }

.note {
	padding: 1.5em;
	padding-left: 5em;
	background: #f3f3f3 url('../img/lightbulb_48.png') no-repeat 1em center;
	border-radius: 0.6em;
	overflow: auto;
}

#header,
#content,
#footer { float: left; clear: both; width: 100%; }

#header { padding: 58px 0 2em; background: #77c244 url(../img/header.png) center top repeat-x; }
	#logo { display: block; float: left; }
	#menu { float: right; margin-top: 12px; background: #113c32; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
	#menu ul { float: left; margin: 0; padding: 0 0.5em 0 0; }
		#menu li { display: block; float: left; margin: 0; padding: 0; }
		#menu li.first { padding-left: 0.5em; }
			#menu li a { display: block; height: 32px; line-height: 32px; padding: 0 0.8em; border-right: solid 1px #0f362d; border-left: solid 1px #144539; letter-spacing: 0.05em; text-decoration: none; text-transform: uppercase; color: #efefef; font-size: 90%; }
			#menu li.first a { border-left: 0; }
			#menu li.last a { border-right: 0; }
			#menu li a:hover { background: #164e41; border-left-color: #195a4b; color: #fff; text-shadow: #fff 0 0 1px; }

#content { background: #f1f8db url(../img/content.png) center top repeat-x; }
	#content .wrapper { min-height: 390px; padding: 1em 0; background: transparent url(../img/wrapper.png) center top no-repeat; }
	#content .page-toc { float: right; margin-left: 1em; padding: 1em; background: #f3f3f3; border-radius: 0.6em; }
	#content p.intro { padding: 1em 20px; padding-left: 20px; margin: 0 -20px; font-size: 1.2em; }
	#content a { color: #004352; }
	#content a:hover { color: #00758f; }
	#content a:active { text-decoration: none; }

#breadcrumb { margin: 0 0 1em; padding: 0 0 1em; list-style: none; border-bottom: solid 1px #f3f3f3; }
	#breadcrumb li { display: inline-block; margin: 0; padding: 0 0.4em 0 0; }
	#breadcrumb li:before { content: '»'; padding-right: 0.4em; }

#topics {  }
	#topics ul,
	#topics ol { list-style-type:none; margin: 0; padding: 0;}
		#topics ul li, #topics ol li { margin:0; padding: 0; background:url('../img/arrows.png') -80px -1px no-repeat scroll; padding-left:12px; position:relative; }
		#topics ul li.toggle-close, #topics ol li.toggle-close{ background-position: -22px -22px; }
		#topics ul li.toggle-open, #topics ol li.toggle-open { background-position: -2px -42px; }
		#topics ul li a.menu-toggle, #topics ol li a.menu-toggle { width:14px; height:18px; position:absolute; left:0px; text-decoration:none; cursor:pointer;}
		#topics ul li a.current, #topics ol li a.current {font-weight:bold;}

	#topics li span { cursor:pointer; }
